<div id="wrapper">
  <div id="sidebar-wrapper">
    
    <ul class="sidebar-nav">  
      <li>
        <%= link_to "Friends", '#' %> 
      </li>
      <li>
        <%= link_to "Contributions", '#' %> 
      </li>
    </ul>
  </div>
</div>